.switch {
  position: relative;
  border-radius: 11px;
  display: block;
  width: 40px;
  height: 22px;
  flex-shrink: 0;
  border: 1px solid var(--island-c-divider);
  background-color: var(--island-c-bg-mute);
  transition: border-color 0.25s, background-color 0.25s;
}

.switch:hover {
  border-color: var(--island-c-gray);
}

.check {
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--island-c-white);
  box-shadow: var(--island-shadow-1);
  transition: background-color 0.25s, transform 0.25s;
}

:global(.dark) .check {
  background-color: var(--island-c-black);
  transform: translateX(18px);
}

.icon {
  position: relative;
  display: block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  overflow: hidden;
}

.icon svg {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  fill: var(--island-c-text-2);
}

.dark .icon svg {
  fill: var(--island-c-text-1);
  transition: opacity 0.25s;
}
