/**
 * Colors Base
 *
 * These are the pure base color presets. Most of the time, you should not be
 * using these colors directly in the theme but rather use "Colors Theme"
 * instead because those are "Theme (light or dark)" dependant.
 * -------------------------------------------------------------------------- */

:root {
  --island-c-white: #ffffff;
  --island-c-white-soft: #f9f9f9;
  --island-c-white-mute: #f1f1f1;

  --island-c-black: #1a1a1a;
  --island-c-black-pure: #000000;
  --island-c-black-soft: #242424;
  --island-c-black-mute: #2f2f2f;

  --island-c-gray: #8e8e8e;
  --island-c-gray-light-1: #aeaeae;
  --island-c-gray-light-2: #c7c7c7;
  --island-c-gray-light-3: #d1d1d1;
  --island-c-gray-light-4: #e5e5e5;
  --island-c-gray-light-5: #f2f2f2;
  --island-c-gray-dark-1: #636363;
  --island-c-gray-dark-2: #484848;
  --island-c-gray-dark-3: #3a3a3a;
  --island-c-gray-dark-4: #282828;
  --island-c-gray-dark-5: #202020;

  --island-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --island-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --island-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --island-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --island-c-indigo: #213547;
  --island-c-indigo-soft: #476582;
  --island-c-indigo-light: #aac8e4;
  --island-c-indigo-lighter: #c9def1;
  --island-c-indigo-dark: #1d2f3f;
  --island-c-indigo-darker: #14212e;

  --island-c-text-light-1: var(--island-c-indigo);
  --island-c-text-light-2: rgba(60, 60, 60, 0.7);
  --island-c-text-light-3: rgba(60, 60, 60, 0.33);
  --island-c-text-light-4: rgba(60, 60, 60, 0.18);

  --island-c-text-dark-1: rgba(255, 255, 255, 0.87);
  --island-c-text-dark-2: rgba(235, 235, 235, 0.6);
  --island-c-text-dark-3: rgba(235, 235, 235, 0.38);
  --island-c-text-dark-4: rgba(235, 235, 235, 0.18);

  --island-c-green: #21b8a3;
  --island-c-green-light: #41c6b0;
  --island-c-green-lighter: #41c6b0;
  --island-c-green-dark: #149684;
  --island-c-green-darker: #149684;
  --island-c-green-dimm: #062521;

  --island-c-blue: #646cff;
  --island-c-blue-light: #747bff;
  --island-c-blue-lighter: #9499ff;
  --island-c-blue-lightest: #bcc0ff;
  --island-c-blue-dark: #535bf2;
  --island-c-blue-darker: #454ce1;
  --island-c-blue-dimm: rgba(100, 108, 255, 0.08);
}

/**
 * Colors Theme
 * -------------------------------------------------------------------------- */

:root {
  --island-c-bg: var(--island-c-white);
  --island-c-bg-soft: var(--island-c-white-soft);
  --island-c-bg-mute: var(--island-c-white-mute);
  --island-c-bg-alt: var(--island-c-white-soft);

  --island-c-divider: var(--island-c-divider-light-1);
  --island-c-divider-light: var(--island-c-divider-light-2);

  --island-c-text-1: var(--island-c-text-light-1);
  --island-c-text-2: var(--island-c-text-light-2);
  --island-c-text-3: var(--island-c-text-light-3);
  --island-c-text-4: var(--island-c-text-light-4);

  --island-c-text-code: var(--island-c-indigo-soft);

  --island-c-brand: var(--island-c-green);
  --island-c-brand-light: var(--island-c-green-light);
  --island-c-brand-lighter: var(--island-c-green-lighter);
  --island-c-brand-dark: var(--island-c-green-dark);
  --island-c-brand-darker: var(--island-c-green-darker);
}

.dark {
  --island-c-bg: var(--island-c-black-soft);
  --island-c-bg-soft: var(--island-c-black-mute);
  --island-c-bg-mute: var(--island-c-gray-dark-3);
  --island-c-bg-alt: var(--island-c-black);

  --island-c-divider: var(--island-c-divider-dark-1);
  --island-c-divider-light: var(--island-c-divider-dark-2);

  --island-c-divider-inverse: var(--island-c-divider-light-1);
  --island-c-divider-inverse-light: var(--island-c-divider-light-2);

  --island-c-text-1: var(--island-c-text-dark-1);
  --island-c-text-2: var(--island-c-text-dark-2);
  --island-c-text-3: var(--island-c-text-dark-3);
  --island-c-text-4: var(--island-c-text-dark-4);

  --island-c-text-inverse-1: var(--island-c-text-light-1);
  --island-c-text-inverse-2: var(--island-c-text-light-2);
  --island-c-text-inverse-3: var(--island-c-text-light-3);
  --island-c-text-inverse-4: var(--island-c-text-light-4);

  --island-c-text-code: var(--island-c-indigo-lighter);
}

/**
 * Typography
 * -------------------------------------------------------------------------- */

:root {
  --island-font-family-base: 'Inter var experimental', 'Inter var',
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --island-font-family-mono: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/**
 * Layouts
 * -------------------------------------------------------------------------- */

:root {
  --island-layout-max-width: 1440px;
}

/**
 * Component: Code
 * -------------------------------------------------------------------------- */

:root {
  --island-code-line-height: 1.7;
  --island-code-font-size: 0.875em;

  --island-code-block-color: var(--island-c-text-dark-1);
  --island-code-block-bg: #292d3e;

  --island-code-line-highlight-color: rgba(0, 0, 0, 0.5);
  --island-code-line-number-color: var(--island-c-text-dark-3);

  --island-code-copy-code-hover-bg: rgba(255, 255, 255, 0.05);
  --island-code-copy-code-active-text: var(--island-c-text-dark-2);
}

.dark {
  --island-code-block-bg: var(--island-c-bg-alt);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --island-button-brand-border: var(--island-c-brand-light);
  --island-button-brand-text: var(--island-c-text-dark-1);
  --island-button-brand-bg: var(--island-c-brand);
  --island-button-brand-hover-border: var(--island-c-brand-light);
  --island-button-brand-hover-text: var(--island-c-text-dark-1);
  --island-button-brand-hover-bg: var(--island-c-brand-light);
  --island-button-brand-active-border: var(--island-c-brand-light);
  --island-button-brand-active-text: var(--island-c-text-dark-1);
  --island-button-brand-active-bg: var(--island-button-brand-bg);

  --island-button-alt-border: var(--island-c-gray-light-3);
  --island-button-alt-text: var(--island-c-text-light-1);
  --island-button-alt-bg: var(--island-c-gray-light-5);
  --island-button-alt-hover-border: var(--island-c-gray-light-3);
  --island-button-alt-hover-text: var(--island-c-text-light-1);
  --island-button-alt-hover-bg: var(--island-c-gray-light-4);
  --island-button-alt-active-border: var(--island-c-gray-light-3);
  --island-button-alt-active-text: var(--island-c-text-light-1);
  --island-button-alt-active-bg: var(--island-c-gray-light-3);

  --island-button-sponsor-border: var(--island-c-gray-light-3);
  --island-button-sponsor-text: var(--island-c-text-light-2);
  --island-button-sponsor-bg: transparent;
  --island-button-sponsor-hover-border: var(--island-c-sponsor);
  --island-button-sponsor-hover-text: var(--island-c-sponsor);
  --island-button-sponsor-hover-bg: transparent;
  --island-button-sponsor-active-border: var(--island-c-sponsor);
  --island-button-sponsor-active-text: var(--island-c-sponsor);
  --island-button-sponsor-active-bg: transparent;
}

.dark {
  --island-button-brand-border: var(--island-c-brand-light);
  --island-button-brand-text: var(--island-c-text-dark-1);
  --island-button-brand-bg: var(--island-c-brand-dark);
  --island-button-brand-hover-border: var(--island-c-brand-lighter);
  --island-button-brand-hover-text: var(--island-c-text-dark-1);
  --island-button-brand-hover-bg: var(--island-c-brand);
  --island-button-brand-active-border: var(--island-c-brand-lighter);
  --island-button-brand-active-text: var(--island-c-text-dark-1);
  --island-button-brand-active-bg: var(--island-button-brand-bg);

  --island-button-alt-border: var(--island-c-gray-dark-2);
  --island-button-alt-text: var(--island-c-text-dark-1);
  --island-button-alt-bg: var(--island-c-bg-mute);
  --island-button-alt-hover-border: var(--island-c-gray-dark-2);
  --island-button-alt-hover-text: var(--island-c-text-dark-1);
  --island-button-alt-hover-bg: var(--island-c-gray-dark-2);
  --island-button-alt-active-border: var(--island-c-gray-dark-2);
  --island-button-alt-active-text: var(--island-c-text-dark-1);
  --island-button-alt-active-bg: var(--island-button-alt-bg);

  --island-button-sponsor-border: var(--island-c-gray-dark-1);
  --island-button-sponsor-text: var(--island-c-text-dark-2);
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --island-custom-block-code-font-size: 13px;

  --island-custom-block-info-border: var(--island-c-divider-light);
  --island-custom-block-info-text: var(--island-c-text-2);
  --island-custom-block-info-bg: var(--island-c-white-soft);
  --island-custom-block-info-code-bg: var(--island-c-gray-light-4);

  --island-custom-block-tip-border: var(--island-c-green-dimm-1);
  --island-custom-block-tip-text: var(--island-c-green-darker);
  --island-custom-block-tip-bg: var(--island-c-green-dimm-3);
  --island-custom-block-tip-code-bg: var(--island-custom-block-tip-bg);

  --island-custom-block-warning-border: var(--island-c-yellow-dimm-1);
  --island-custom-block-warning-text: var(--island-c-yellow-darker);
  --island-custom-block-warning-bg: var(--island-c-yellow-dimm-3);
  --island-custom-block-warning-code-bg: var(--island-custom-block-warning-bg);

  --island-custom-block-danger-border: var(--island-c-red-dimm-1);
  --island-custom-block-danger-text: var(--island-c-red-darker);
  --island-custom-block-danger-bg: var(--island-c-red-dimm-3);
  --island-custom-block-danger-code-bg: var(--island-custom-block-danger-bg);

  --island-custom-block-details-border: var(--island-custom-block-info-border);
  --island-custom-block-details-text: var(--island-custom-block-info-text);
  --island-custom-block-details-bg: var(--island-custom-block-info-bg);
  --island-custom-block-details-code-bg: var(--island-custom-block-details-bg);
}

.dark {
  --island-custom-block-info-border: var(--island-c-divider-light);
  --island-custom-block-info-bg: var(--island-c-black-mute);
  --island-custom-block-info-code-bg: var(--island-c-gray-dark-4);

  --island-custom-block-tip-border: var(--island-c-green-dimm-2);
  --island-custom-block-tip-text: var(--island-c-green-light);

  --island-custom-block-warning-border: var(--island-c-yellow-dimm-2);
  --island-custom-block-warning-text: var(--island-c-yellow-light);

  --island-custom-block-danger-border: var(--island-c-red-dimm-2);
  --island-custom-block-danger-text: var(--island-c-red-light);
}

/**
 * Component: Nav
 * -------------------------------------------------------------------------- */

:root {
  --island-nav-height: var(--island-nav-height-mobile);
  --island-nav-height-mobile: 56px;
  --island-nav-height-desktop: 60px;
}

@media (min-width: 960px) {
  :root {
    --island-nav-height: var(--island-nav-height-desktop);
  }
}

/**
 * Component: Sidebar
 * -------------------------------------------------------------------------- */

:root {
  --island-sidebar-width: 272px;
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --island-home-hero-name-color: transparent;
  --island-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    var(--island-c-brand) 30%,
    #41d1ff
  );

  --island-home-hero-image-background-image: none;
  --island-home-hero-image-filter: none;
}
