.link:hover {
  color: var(--island-c-brand);
  transition: color 0.2s;
}

.link {
  display: block;
  font-size: 14px;
  font-weight: 500;
}

.social-link-icon {
  display: flex;
  fill: currentColor;
  transition: color 0.2s;
  color: var(--island-c-text-2);
  &:hover {
    color: var(--island-c-text-1);
  }
}
