.nav {
  padding-left: max(
    32px,
    calc(32px + (100vw - var(--island-layout-max-width)) / 2)
  );
  padding-right: max(
    32px,
    calc(32px + (100vw - var(--island-layout-max-width)) / 2)
  );
  background-color: var(--island-c-bg);
}

.link:hover {
  color: var(--island-c-brand);
  transition: color 0.2s;
}

.link {
  display: block;
  font-size: 14px;
  font-weight: 500;
}

.social-link-icon {
  display: flex;
  fill: currentColor;
  transition: color 0.2s;
  color: var(--island-c-text-2);
  &:hover {
    color: var(--island-c-text-1);
  }
}
