@media (min-width: 960px) {
  .nav {
    -webkit-backdrop-filter: saturate(50%) blur(8px);
    backdrop-filter: saturate(50%) blur(8px);
  }

  @supports not (backdrop-filter: saturate(50%) blur(8px)) {
    .nav {
      background: rgba(255, 255, 255, 0.95);
    }

    :global(.dark) .nav {
      background: rgba(36, 36, 36, 0.95);
    }
  }
}

@media (min-width: 960px) {
  .has-sidebar .nav-bar-title {
    margin-right: 32px;
    width: calc(var(--island-sidebar-width) - 64px);
    border-bottom-color: var(--island-c-divider-light);
    background-color: var(--island-c-bg-alt);
  }
}

@media (min-width: 960px) {
  .content {
    margin-right: -32px;
    padding-right: 32px;
    -webkit-backdrop-filter: saturate(50%) blur(8px);
    backdrop-filter: saturate(50%) blur(8px);
  }

  :global(.dark) .has-sidebar .content {
    background: rgba(36, 36, 36, 0.7);
  }

  @supports not (backdrop-filter: saturate(50%) blur(8px)) {
    .has-sidebar .content {
      background: rgba(255, 255, 255, 0.95);
    }

    :global(.dark) .has-sidebar .content {
      background: rgba(36, 36, 36, 0.95);
    }
  }
}
.rightNav {
  display: none;
}
@media (min-width: 768px) {
  .rightNav {
    display: flex;
    align-items: center;
  }
}
.container {
  max-width: calc(var(--island-layout-max-width) - 64px);
}

.container :deep(*) {
  pointer-events: all;
}

.social-links-icon {
  width: 20px;
  height: 100%;
  display: flex;
  fill: currentColor;
  color: var(--island-c-text-2);

  &:hover {
    color: var(--island-c-text-1);
  }
}