.Button {
  display: inline-block;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 500;
  white-space: nowrap;
  transition: color 0.25s, border-color 0.25s, background-color 0.25s;
}

.Button:active {
  transition: color 0.1s, border-color 0.1s, background-color 0.1s;
}

.Button.medium {
  border-radius: 20px;
  padding: 0 20px;
  line-height: 38px;
  font-size: 14px;
}

.Button.big {
  border-radius: 24px;
  padding: 0 24px;
  line-height: 46px;
  font-size: 16px;
}

.Button.brand {
  border-color: var(--island-button-brand-border);
  color: var(--island-button-brand-text);
  background-color: var(--island-button-brand-bg);
}

.Button.brand:hover {
  border-color: var(--island-button-brand-hover-border);
  color: var(--island-button-brand-hover-text);
  background-color: var(--island-button-brand-hover-bg);
}

.Button.brand:active {
  border-color: var(--island-button-brand-active-border);
  color: var(--island-button-brand-active-text);
  background-color: var(--island-button-brand-active-bg);
}

.Button.alt {
  border-color: var(--island-button-alt-border);
  color: var(--island-button-alt-text);
  background-color: var(--island-button-alt-bg);
}

.Button.alt:hover {
  border-color: var(--island-button-alt-hover-border);
  color: var(--island-button-alt-hover-text);
  background-color: var(--island-button-alt-hover-bg);
}

.Button.alt:active {
  border-color: var(--island-button-alt-active-border);
  color: var(--island-button-alt-active-text);
  background-color: var(--island-button-alt-active-bg);
}

.Button.sponsor {
  border-color: var(--island-button-sponsor-border);
  color: var(--island-button-sponsor-text);
  background-color: var(--island-button-sponsor-bg);
}

.Button.sponsor:hover {
  border-color: var(--island-button-sponsor-hover-border);
  color: var(--island-button-sponsor-hover-text);
  background-color: var(--island-button-sponsor-hover-bg);
}

.Button.sponsor:active {
  border-color: var(--island-button-sponsor-active-border);
  color: var(--island-button-sponsor-active-text);
  background-color: var(--island-button-sponsor-active-bg);
}
